body {
    font-family: 'Roboto Condensed', sans-serif;
    color: gray;
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/green_cup.png)
}

a {
    text-decoration: none;
    transition: background 1s;
}

span {
    color: green;
}

footer {
    margin-top: 10px;
}

footer p{
    margin: 0px
}

button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #FFF;
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #0E870E;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: background 1s;
}

input {
    padding: 4px;
    padding-top: 10px;
    padding-right: 31%;
    color: gray;
    font-size: 16px;
}

button:hover, a:hover {
    background: #13B513;
}

input:focus , button{
    outline: none;
}

.main-container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 30px 50px 50px 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 10px -2px rgba(94,94,94,1);
    -moz-box-shadow: 0px 4px 10px -2px rgba(94,94,94,1);
    box-shadow: 0px 4px 10px -2px rgba(94,94,94,1);
}

@media only screen and (min-width:1600px){
        #mynetwork {
    width: 700px;
    height: 450px;
    border: 1px solid lightgray;
    }
}

#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}

.detalhes-grafo h5{
    font-weight: 300;
    padding: 0px 10px;
}

.detalhes-grafo p {
    display: inline;
    color: #43607B;
}
